.product-card-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 0.8fr);
    justify-content: center
}

@media (min-width: 768px) {
    .product-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .product-card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1440px) {
    .product-card-container {
        grid-template-columns: repeat(4, 1fr);
    }
}