.product-card {
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.product-card .product-image {
    border-radius: 8px;
    box-shadow: 0 6px 3px var(--accent-color);
}

.product-card .product-details {
    color: var(--text-color);
    padding-bottom: 4%;
}

.product-card span {
    align-self: flex-start;
    background-color: var(--text-color);
    color: var(--highlight-color);;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    width: 15%;
}
