/* color pallette
* A5E265
* BDE4A8
* 9CC69B
* 79B4A9
* 676F54
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* Global Styles */
body {
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

:root {
    --secondary-color: #F2EAD3;
    --highlight-color: #DFD7BF;
    --accent-color: #DFD7BF;
    --primary-color: #3F2305;
    --text-color: #3F2305;
}